/*----------GLOBAL*/
body {
	color: #000000;
	background-color: #ffffff;
}
a {
	font-size: 18px;
	text-decoration: none;
}
li {
	display: inline-block;
}
.container {
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
}
.row {
	margin: 0;
}

/*----------TYPOGRAPHY*/
h1 {
	margin: 0;
	font-size: 75px;
}
h1, h2, a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
header h2 {
	margin: 190px 0 50px 0;
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-style: italic;
	text-transform: capitalize;
}
h2 {
	font-size: 40px;
}

/*-----------BUTTONS*/
.btn {
	margin: 60px 0 160px 0;
	display: inline-block;
	border-radius: 3px;
	width: 240px;
	line-height: 65px;
	letter-spacing: 1px;
	background-color: #fed136;
}
/*---------------STYLE--------------*/
/*---------HEADER*/
header {
	text-align: center;
	background-size: cover;
	background-image: url("../image/tint.png");
	background-repeat: no-repeat;
}
.navbar {
}
.navbar__item {
	justify-content: space-between;
}
.navbar__item--logo {
	margin-top: 50px;
}
.navbar__item--logo a {
	font-family: 'Great Vibes', cursive;
	font-size: 30px;
	letter-spacing: 2px;
	color: #fed136;
	text-transform: capitalize;
}
.navbar__item--list {
	margin-top: 34px;
}
.navbar__item--list ul li {
	padding-left: 38px;
}
.navbar__item--list ul li a {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
}
